<div class="container">
    <div>
        <h2 class="text-center">New Author</h2>
    </div>
    <br>

    <div>
        <form class="new_entry" action="/authors" method="POST" enctype="multipart/form-data">
           
            <div class="mb-3">
                <label style="width: 100%;" for="">Name</label>
                <input style="width: 100%;" type="text" name="name"  required >
            </div>
            <br>
            <div class="mb-3">
                <label style="width: 100%;" for="">About</label>
                    <textarea style="width: 100%;" type="text" name="about" cols="30" rows="5"  required ></textarea>
               
            </div>
            <br>
            <div class="mb-3 ">
                <label style="width: 100%;" for="" class="form-label">Image</label>
                <input style="width: 100%;" type="file" name="image"  required  >

            </div>
            <br>
            <div class="row">
                <div class="col-6 text-start">
                    <a href="/authors"> Cancel</a>
                </div>
                <div class="col-6 text-end">
                    <button type="submit" class="btn ">Add</button>
                </div>
            
        
            </div>
        </form>


    </div>
    

</div>





